body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #173d83;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 100px;
    background-color: #fc9c53;
    box-shadow: 0px 0px 10px rgb(198, 245, 11);
    border-radius: 7px;
}

h1 {
    text-align: center;
    color: #0e0e0e;
    font-size: 45px;
}

.input-container {
    display: flex;
    margin-bottom: 20px;

}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #0c0c0c;
    border-radius: 6px;
}

button#add-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    list-style-type:none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ddecfb;
}

li:last-child {
    margin-bottom: 0;
}